<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      autoReload="true"
      >

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="logDirectory" value="d:\temp\output"/>

  <targets>
    <!-- add your targets here -->

    <!--
        <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} ${uppercase:${level}} ${message}" />
        -->

    <!--
      archiveAboveSize="1048576" (bytes) = 10M
      archiveAboveSize="10240" = 10K
      -->

    <target
        name="logfileError" xsi:type="File"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}"
        fileName="${logDirectory}/${date:format=yyyy-MM-dd}_Service_error.txt"
        archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_Service_error.{###}.txt"
        archiveAboveSize="1048576"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen = "false"
        maxArchiveFiles = "20"
            />


    <target
        name="logfileInfo" xsi:type="File"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}"
        fileName="${logDirectory}/${date:format=yyyy-MM-dd}_Service_info.txt"
        archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_Service_info.{###}.txt"
        archiveAboveSize="1048576"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen = "false"
        maxArchiveFiles = "20"
            />
    
    <target
      name="logfileWarn" xsi:type="File"
      layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${message}"
      fileName="${logDirectory}/${date:format=yyyy-MM-dd}_Service_requests.txt"
      archiveFileName="${logDirectory}/${date:format=yyyy-MM-dd}_Service_info.{###}.txt"
      archiveAboveSize="10485760"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen = "false"
      maxArchiveFiles = "20"
    />    


  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--<logger name="CompraFacil.Webservices.inscricaoCFWS.*"  minlevel="Error" writeTo="webserviceInscricaoLogfileError" final="true"/>-->

    <logger name="*"  minlevel="Error" writeTo="logfileError" />
    <logger name="*"  level="Info" writeTo="logfileInfo" />
    <logger name="*"  level="Warn" writeTo="logfileWarn" />



  </rules>
</nlog>